#app {
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 30px;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#app .background {
	position: absolute;
	background-color: #2867b2;
	height: 100px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

#app main {
	margin-left: 30px;
}

@media (max-width: 830px) {
	#app {
		flex-direction: column;
	}

	#app main {
		margin-left: 0;
		margin-top: 30px;
		width: 100%;
		align-items: center;
	}

	#app aside {
		width: 100%;
	}
}
